pipeline/1-Control-Schematize.json
{
	"name": "1-Control-Schematize",
	"properties": {
		"activities": [
			{
				"name": "Lookup-Todo",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select t.name as EntityName \nfrom sys.tables t \ninner join sys.schemas s on s.schema_id=t.schema_id\nwhere s.name = 'datahub'"
					},
					"dataset": {
						"referenceName": "ds_SQL_datahub",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup-Todo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup-Todo').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "2-Schematize",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "2-Schematize",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"EntityName": {
										"value": "@item().EntityName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "mdai"
		}
	}
}