pipeline/2-Schematize.json
{
	"name": "2-Schematize",
	"properties": {
		"activities": [
			{
				"name": "Get-Table-Metadata",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SQL_datahub",
						"type": "DatasetReference",
						"parameters": {
							"EntityName": "@pipeline().parameters.EntityName",
							"EntityStructure": [
								{
									"destination": {
										"structure": [
											{
												"name": "Foo",
												"type": "Bar"
											}
										]
									}
								}
							]
						}
					},
					"fieldList": [
						"structure"
					]
				}
			},
			{
				"name": "Stage-Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get-Table-Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureBlobFSSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"preCopyScript": {
							"value": "@{concat('TRUNCATE TABLE [datahub].[',pipeline().parameters.EntityName,']')}",
							"type": "Expression"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_DLS_DataLake",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_SQL_datahub",
						"type": "DatasetReference",
						"parameters": {
							"EntityName": "@pipeline().parameters.EntityName",
							"EntityStructure": "@activity('Get-Table-Metadata').output.structure"
						}
					}
				]
			}
		],
		"parameters": {
			"EntityName": {
				"type": "String"
			}
		}
	}
}