pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup-Todo",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select t.name as EntityName from sys.tables t inner join sys.schemas s on s.schema_id=t.schema_id\nwhere s.name = 'saleslt'"
					},
					"dataset": {
						"referenceName": "ds_SQL_datahub",
						"type": "DatasetReference",
						"parameters": {
							"EntityName": "sys.tables",
							"EntityStructure": [
								{
									"physicalName": "AddressID",
									"type": "Int32",
									"logicalType": "Int32",
									"name": "AddressID",
									"physicalType": "int",
									"precision": 10,
									"scale": 255,
									"DotNetType": "System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "AddressLine1",
									"type": "String",
									"logicalType": "String",
									"name": "AddressLine1",
									"physicalType": "nvarchar",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "AddressLine2",
									"type": "String",
									"logicalType": "String",
									"name": "AddressLine2",
									"physicalType": "nvarchar",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "City",
									"type": "String",
									"logicalType": "String",
									"name": "City",
									"physicalType": "nvarchar",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "StateProvince",
									"type": "String",
									"logicalType": "String",
									"name": "StateProvince",
									"physicalType": "nvarchar",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "CountryRegion",
									"type": "String",
									"logicalType": "String",
									"name": "CountryRegion",
									"physicalType": "nvarchar",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "PostalCode",
									"type": "String",
									"logicalType": "String",
									"name": "PostalCode",
									"physicalType": "nvarchar",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "rowguid",
									"type": "Guid",
									"logicalType": "Guid",
									"name": "rowguid",
									"physicalType": "uniqueidentifier",
									"precision": 255,
									"scale": 255,
									"DotNetType": "System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								},
								{
									"physicalName": "ModifiedDate",
									"type": "DateTime",
									"logicalType": "DateTime",
									"name": "ModifiedDate",
									"physicalType": "datetime",
									"precision": 23,
									"scale": 3,
									"DotNetType": "System.DateTime, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								}
							]
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup-Todo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup-Todo').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"EntityName": "@item().EntityName"
								}
							}
						}
					]
				}
			}
		]
	}
}